html {
    font-family: "Nixie One", "Helvetica Neue", "Lucida Grande";
    font-size: 28px;
    line-height: 2.4em;
    
}
table, td, th {
    border: 1px solid rgb(95, 95, 95);
    border-collapse: collapse;
    
}
table{
    width: 10em;
    margin: 0 auto;
}

#output {
    text-align: right;
    vertical-align: bottom;
    font-weight: normal;    
    font-size: 2.5em;
    padding-bottom: 0.1em;
    padding-right: 0.1em;
    height: 5rem;
    background-color: #101010;
    color: white;
}

td {
    text-align: center;
    width: 25%;
    cursor: crosshair;
}


.col {
    background-color: #d1d2d5;
}

.lastcol {
    background-color: #F78D13;
    color: white;
}

.firstrow {
    background-color: #C1C1C1
}
