/* for centering sake */
body {
    width: 400px;
    margin: 0 auto;     /* center relative to html tag */

}
/* end body rule */

#navigation {    /* didn't feel the need to use it */
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
#navigation li {
    background-color: #b4afb4;
    display: inline-block;      /* so that they will stay inline but able to set width (block) */
    width: 20%;
    text-align: center;
    margin-right: 5px;
    padding: 7px 4px;
    border-radius: 4px 4px 0px 0;

}
    
#case {
    margin: 0;
    background-color: #e6e6e6;
    padding: 0 8px; 
    overflow: overlay;      /* so that the container will expand until including the margings of the h2 and last paragraph*/
    border-top-right-radius: 4px;
}
    
#footer {
    background-color: #b4afb4;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 12px;
    border-radius: 0 0 4px 4px;
}
    
#footer ul {
   margin: 0;
   padding: 0;
    
}
    
#footer  li {
    display: inline;
}

/*  Not sure if this was the intent of the bonus
    adding hover fuctionality with media query? for
    devices that dont have hover capabilitied(pointer/mouse)? */

/* HOVERING */
#navigation li:hover {
    background-color:#e6e6e6;
    text-shadow: 0px 0 10px black;
}

@media (hover:none) {  /* if the divice doesnt have hover capabilities */
    #navigation li{    /* then present the content with a ligther color */
        background-color: #afafaf;  /* and black a text shadow  */
        text-shadow: 0px 0 10px black;
    }
}
