a[href^="http://"] {
    color: purple;
}

a[href$="https://"] {
    color: blue
}

li:nth-of-type(2) a { 
    font-style: italic
}

li:nth-last-child(2) a {
    font-weight: bold;
}

a[href*=".org"] {
    text-transform: uppercase;
    background-color: 
}

a[href*="panda" I] {           /* I to scape casing */
    background-color: wheat;
}